@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-VariableFont_wght.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Onest;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: var(--bg-light);
}

.login-body {
    place-content: center;
}

header {
    grid-area: header;
    color: var(--text-white);
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}
.title-comp h2 {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 0 .5rem;
}

.title-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-weight: 800;
    color: var(--text-white);
    text-decoration: none;
    font-size: 2.5em;
}

.user {
    border: 2px solid var(--text-white);
    border-radius: 100%;
    padding: .5rem;
}

.user-btn {
    background-color: transparent;
    border: none;
    color: none;
}

.modal-backdrop.show {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.35);
}

.user:hover {
    cursor: pointer;
}

main {
    grid-area: main;
    height: 100%;
    padding: 1rem;
    place-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
    grid-area: footer;
}